.nav-img {
    width: 175px;
    height: 50px;
}

i.bi-heart {
    font-size: 1.75rem;
    color:red;
}

i.bi-plus-lg {
    font-size: 1.75rem;
    color: #abb6c2;
}

i:hover {
    cursor: pointer;
}

.title-und {
    text-decoration: underline;
}
