.nav-img {
    width: 175px;
    height: 50px;
    border-radius: .08cm;
}

i.bi-heart {
    font-size: 1.5rem;
}

a.btn-outline-light {
    transition: all, ease-in-out, .4s;
}

a.btn-outline-light:hover {
    background-color: #d9534f;
    border-color: #d9534f;
    transition: all, ease-in-out, .4s;
}

i.bi-plus-lg {
    font-size: 1.75rem;
    color: #abb6c2;
}

i.bi-plus-lg:hover {
    color: #5cb85c;
}

i:hover {
    cursor: pointer;
}

i.bi-dash-circle {
    font-size: 1.35rem;
}

i.bi-dash-circle:hover, i.bi-trash:hover {
    color: #d9534f;
}

i.bi-trash {
    color: #2b3e50
}

i.bi-x-lg {
    position: fixed;
}

.title-und {
    text-decoration: underline;
}

button.btn {
    border-radius: .08cm;
}

a.btn {
    border-radius: .08cm;
}

div.alert {
    width: 75%;
    border-radius: .08cm;
}

/* ul.nav {
    list-style-type: none;
} */

.pagination {
    white-space: nowrap;
}
#paginator {
    overflow-x: scroll;
    overflow-y: hidden;
}

#paginator > li {
    display: inline-block;
}



/* Responsive Queries for mobile */

/* Extra small - default bootstrap breakpoint */

@media only screen and (max-width: 575px) {
    h5.add-msg {
        line-height: 25px;
    }

    a.btn-primary {
        margin-top: 5px;
    }

    a.logout {
        margin-top: 23px;
        margin-bottom: 5px;
    }

    form#search_form {
        margin-top: 15px;
    }
}

/* Applies to small breakpoint */

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: px) {
    
}