<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script
			src="https://code.jquery.com/jquery-3.7.0.slim.js"
			integrity="sha256-7GO+jepT9gJe9LB4XFf8snVOjX3iYNb0FHYr5LI1N5c="
			crossorigin="anonymous"
		></script>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/superhero/bootstrap.min.css"
			integrity="sha384-HnTY+mLT0stQlOwD3wcAzSVAZbrBp141qwfR4WfTqVQKSgmcgzk+oP0ieIyrxiFO"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
		<link rel="stylesheet" href="/static/style.css" />
		<title>{% block title %} {% endblock %}</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-light sticky-top">
			<div class="container-fluid">
				<a class="navbar-brand" href="/"><img src="/static/images/logo.png" alt="#" class="nav-img" /></a>
				<button
					class="navbar-toggler btn btn-secondary"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbar"
					aria-controls="navbar"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse pr-0" id="navbar">
					<div class="container-fluid">
						<ul class="navbar-nav nav me-auto justify-content-end">
							{% if g.user %}

							<li class="nav-item">
								<a class="nav-link text-dark" href="/profile/{{g.user.id}}">Profile </a>
							</li>

							{% endif %}
							<li class="nav-item">
								<a class="nav-link text-dark" href="/drinks">Drinks</a>
							</li>
							<li class="nav-item dropdown">
								<a
									class="nav-link dropdown-toggle text-dark"
									data-bs-toggle="dropdown"
									href="#"
									role="button"
									aria-haspopup="true"
									aria-expanded="false"
									>Categories</a
								>
								<div class="dropdown-menu">
									{% for category in categories %}

									<a class="dropdown-item" href="/drinks/{{category.id}}">{{category.name}}</a>

									{% endfor %}
								</div>
							</li>
						</ul>
					</div>
					<div class="container-fluid justify-content-end flex-nowrap">
						<form method="POST" id="search_form" action="/search" class="form-inline flex-shrink-1">
							{{ search_form.hidden_tag() }} {% for field in search_form if field.widget.input_type !=
							'hidden' %} {% for error in field.errors %}
							<span class="text-danger">{{ error }}</span>
							{% endfor %} {{ field(placeholder=field.label.text, class="form-control") }} {% endfor %}

							<button class="btn btn-secondary ml-1">Search</button>
						</form>

						{% if g.user %}

						<li>
							<a href="/logout" class="btn btn-warning text-center">Logout</a>
						</li>

						{% else %}

						<li>
							<a href="/login" class="btn btn-success text-center">Login</a>
						</li>

						<li>
							<a href="/signup" class="btn btn-info text-center">Signup</a>
						</li>

						{% endif %}
					</div>
				</div>
			</div>
		</nav>

		{% for category, message in get_flashed_messages(with_categories=True) %}
		<div class="alert alert-dismissable alert-{{ category }} mx-auto text-center mb-0 mt-2 pb-1 pt-0 pl-0 pr-0">
			<div class="row container justify-content-start pl-3 pt-0 mb-1">
				<button type="button" class="btn btn-close" data-bs-theme="dark" data-bs-dismiss="alert">
					<i class="bi bi-x-lg" style="position: absolute;"></i>
			</div>
			<h3 class="alert-heading">{{category.capitalize()}}</h3>
			<p class="mb-0">{{message}}</p>
		</div>
		{% endfor %} {% block content %} {% endblock %}

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
			crossorigin="anonymous"
		></script>
		<script src="/static/script.js"></script>
	</body>
</html>
