{% extends 'base.html' %} {% block content %}

<div class="card text-white bg-secondary mx-auto mt-2 col-12 col-md-8 col-lg-6">
	<div class="card-body">
	
		{% if DrinkPost.query.filter_by(drink_id=drink.id).first() %}
			{% set post = DrinkPost.query.filter_by(drink_id=drink.id).first() %}

			{% if check_author(post) %}
			<h2 class="card-title text-center mb-2 pr-4"><a href="/{{drink.id}}/edit"><i class="bi bi-pencil-square mr-1"></i></a> {{drink.name}}</h2>
			{% else %}
			<h2 class="card-title text-center mb-2">{{drink.name}}</h2>
			{% endif %}

			<h5 class="card-subtitle text-center mb-1">
				Bartender: <a href="/profile/{{post.user.id}}">{{post.user.username}}</a>
			</h5>
			<h5 class="card-subtitle mb-1 text-center">({{drink.category.name}})</h5>
			<h5 class="card-subtitle mb-2 text-center">{{drink.glass.name}}</h5>

			{% else %}
			<h2 class="card-title text-center mb-2">{{drink.name}}</h2>
			<h5 class="card-subtitle mb-1 text-center">({{drink.category.name}})</h5>
			<h5 class="card-subtitle mb-2 text-center">{{drink.glass.name}}</h5>
		{% endif %}
			{% if g.user and check_favorites(drink, g.favorites) %}
				<div class="row container justify-content-center mx-auto mb-1 p-0">
					<a href="/{{drink.id}}/favorite/delete" class="btn btn-danger pb-0 pt-0 mt-2 mb-2 mr-2 col-3 dislike"><i class="bi bi-heart"></i></a>
					<a class="share btn btn-outline-info pb-0 pt-1 mt-2 mb-2 ml-2 col-3"><i class="bi bi-share"></i></a>
				</div>
				{% elif g.user %}
				<div class="row container justify-content-center mx-auto mb-1 p-0">
					<a href="/{{drink.id}}/favorite/add" class="btn btn-outline-light pb-0 pt-0 mt-2 mb-2 mr-2 col-3 like"><i class="bi bi-heart"></i></a>
					<a class="share btn btn-outline-info pb-0 pt-1 mt-2 mb-2 ml-2 col-3"><i class="bi bi-share"></i></a>
				</div>
			{% endif %}

			{% if g.user %}
			<div class="row container-fluid justify-content-center m-0 p-0 text-center">
				<h6 class="card-subtitle mb-1 col-5 col-lg-3">Likes: {{len(drink.favorites)}}</h6>
				<h6 class="card-subtitle mb-1 col-5 col-lg-3">Comments: {{len(drink.comments)}}</h6>
			</div>
			{% endif %}

			<img src="{{drink.image}}" class="card-img" alt="..." />
			<ul class="list-group">
				{% if post and check_author(post) %}
				<h5 class="card-subtitle title-und mt-3">Ingredients: <a href="/{{drink.id}}/ingredients/add"><i class="bi bi-plus text-success"></i></a></h5>
				{% else %}
				<h5 class="card-subtitle title-und mt-3">Ingredients:</h5>
				{% endif %}
				{% for ingredient in ingredients %} {% set i = Ingredient.query.get_or_404(ingredient.ingredient_id) %}
				{% set ing_loop = loop %}

				{% if i.description %}

				<li class="list-group-item mb-0">
					{% if post and check_author(post) %}

					<a class="ing-item text-info mr-1" data-bs-toggle="modal" data-bs-target="#ingModal{{ing_loop.index}}">
						<i class="bi bi-info-circle"></i>
					</a>
					{{i.name}} - {{ingredient.measurement}}
					<a href="/{{drink.id}}/{{i.id}}/edit" class="btn btn-sm"><i class="bi bi-pencil-square ml-2"></i></a>
					<a href="/{{drink.id}}/{{i.id}}/delete" class="btn btn-sm"><i class="bi bi-trash text-danger"></i></a>

					{% else %}

					<a class="ing-item text-info mr-1" data-bs-toggle="modal" data-bs-target="#ingModal{{ing_loop.index}}">
						<i class="bi bi-info-circle"></i>
					</a>
					{{i.name}} - {{ingredient.measurement}}

					{% endif %}
				</li>

				<div class="modal fade" id="ingModal{{ing_loop.index}}" tabindex="-1" aria-labelledby="Ingredient Label" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="modalLabel">{{i.name}}</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<h6 class="modal-title fs-5" id="modalLabel">ABV: {{i.abv}}</h6>
						<img class="img-fluid" src="{{i.img}}" alt="">
						</div>
						<div class="modal-footer">
							<h6 class="modal-title fs-5" id="ModalLabel">{{i.description}}</h6>
						</div>
					</div>
					</div>
				</div> 
				
				{% else %}
					{% if post and check_author(post) %}
					<li class="list-group-item text-white mb-0">
						{{i.name}} - {{ingredient.measurement}} 
						<a href="/{{drink.id}}/{{i.id}}/edit" class="btn btn-sm"><i class="bi bi-pencil-square ml-2"></i></a>
						<a href="/{{drink.id}}/{{i.id}}/delete" class="btn btn-sm"><i class="bi bi-trash text-danger"></i></a>
					</li>
					
					{% else %}

					<li class="list-group-item text-white mb-0">
						{{i.name}} - {{ingredient.measurement}}
					</li>

					{% endif %}

				{% endif %}
			
			{% endfor %}
		</ul>
		<h5 class="card-subtitle title-und mt-1 mb-3">Instructions:</h5>
		<p class="card-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{drink.instructions}}</p>
		{% if drink.video %}
		<h5 class="card-subtitle title-und mt-2 mb-2"><a href="{{drink.video}}">Video</a></h5>
		{% endif %}
	</div>
</div>

<div class="card mx-auto mt-4 mb-2 col-12 col-md-8 col-lg-6">
	<div class="card-body pt-2">
		<h4 class="card-title text-center">Comments</h4>
		{% if g.user %}
		<h6 class="text-center mb-3"><a href="/{{drink.id}}/comment/add" class="btn btn-success">Add</a></h6>
		{% endif %} {% if drink.comments %}
		<ul class="list-group">
			{% for comment in drink.comments %} {% set u = User.query.get_or_404(comment.user_id) %}
			<li class="list-group-item list-group-item-light mb-0 pr-0">
				{% if g.user.id == u.id %}
				<div class="container row justify-content-end">
					<a href="/{{comment.id}}/delete"><i class="bi bi-trash" style="position: absolute"></i></a>
				</div>
				{% endif %}
				<p class="card-text mr-5">{{comment.comment}}</p>
				<small><a href="/profile/{{u.id}}">- {{u.username}}</a></small>
				<small></small>
			</li>
			<hr />
			{% endfor %} {% elif g.user %}
			<p class="card-text text-center">No comments have been added yet, you should be the first!</p>
			{% else %}
			<p class="card-text text-center">No comments have been added yet, <a href="/signup">sign up</a> or <a href="/login">login</a> to be the first!</p>
			{% endif %}
		</ul>
	</div>
</div>

{% endblock %}
