{% extends 'base.html' %} {% block content %}

<h2 class="text-center mt-2">All Drinks</h2>

<div class="container-fluid d-flex flex-wrap justify-content-around" style="width: 100%">

    {% for drink in drinks %}

    <div class="card bg-light text-dark col-5 mt-4 ml-1 mr-1">
        <div class="card-body">
          <h5 class="card-title text-center">{{drink.name}}</h5>
          <h6 class="card-subtitle text-center"><small>({{drink.category.name}})</small></h6>
        </div>
        <img src="{{drink.main_img}}" class="card-img-bottom" alt="#">
        <a href="/{{drink.id}}" class="btn btn-info mt-2 mb-2">Details</a>
      </div>

    {% endfor %}
</div>

{% endblock %}