{% extends 'base.html' %} {% block content %} {% if g.user %}

<div class="container-fluid" style="width: 85%">
	<div class="card text-center justify-content-center text-dark bg-light mt-5 mb-2 mx-auto">
		<div class="card-header"><h1>Drink of the Day!</h1></div>
		<div class="card-body">
			<h3 class="card-title mb-1">{{drink.name}}</h3>
			<h6 class="card-subtitle mb-3">Category: {{drink.category.name}}</h6>
			<div class="row container-fluid justify-content-center text-center">
				<h6 class="card-subtitle mb-1 col-3">Likes: {{len(drink.favorites)}}</h6>
				<h6 class="card-subtitle mb-1 col-3">Comments: {{len(drink.comments)}}</h6>
			</div>
			<a href="/{{drink.id}}"><img src="{{drink.main_img}}" class="card-img-bottom" alt="#" /></a>
		</div>
	</div>
</div>

{% else %}

<div class="container-fluid text-center">
	<h2 class="mt-4">Welcome to Underground Mixology!</h2>
	<p>
		If you are new please consider <a href="/signup">signing up</a> or you can choose to browse drinks with access to limited features. If
		you have an existing account <a href="/login">welcome back</a>!
	</p>
</div>

{% endif %} {% endblock %}
