{% extends 'base.html' %} {% block content %} {% if g.user %}

<!-- {% set drink = drinks[0] %} -->

{% set post = DrinkPost.query.filter_by(drink_id=drink.id).first() %}

<h2 class="text-center mt-2">Suggestions</h2>

<div class="container-fluid col-12 col-lg-8 mx-auto mt-3 pt-3 pb-3 bg-light">
	<div id="suggestionsCarousel" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#suggestionsCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#suggestionsCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#suggestionsCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
			<button type="button" data-bs-target="#suggestionsCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
			<button type="button" data-bs-target="#suggestionsCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
		</div>
		<div class="carousel-inner">
			{% for drink in drinks %}
			{% set drink_loop = loop %}
			{% if drink_loop.index == 1 %}
			<div class="carousel-item active">
				<div class="carousel-caption d-none d-block">
					<h2><a href="/{{drink.id}}" class="text-white bg-dark">{{drink.name}}</a></h2>
				</div>
				<img src="{{drink.image}}" class="d-block img-fluid mx-auto" alt="...">
			</div>
			{% else %}
			<div class="carousel-item">
				<div class="carousel-caption d-none d-block">
					<h2><a href="/{{drink.id}}" class="text-white bg-dark">{{drink.name}}</a></h2>
				</div>
				<img src="{{drink.image}}" class="d-block img-fluid mx-auto" alt="...">
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
</div>

{% else %}

<div class="container-fluid text-center">
	<h2 class="mt-4">Welcome to Underground Mixology!</h2>
	<p>
		If you are new please consider <a href="/signup">signing up</a> or you can choose to browse drinks with access to limited features. If
		you have an existing account <a href="/login">welcome back</a>!
	</p>
</div>

{% endif %} {% endblock %}
