{% extends 'base.html' %} {% block content %} {% if g.user %}

{% set post = DrinkPost.query.filter_by(drink_id=drink.id).first() %}

<div class="container-fluid" style="width: 85%">
	<div class="card text-center justify-content-center text-dark bg-light mt-5 mb-2 mx-auto">
		<div class="card-body">
			<h2 class="card-title mb-1">{{drink.name}}</h2>
			{% if post %}
			<h6 class="card-subtitle text-center mb-1">
				Bartender: <a href="/profile/{{post.user.id}}">{{post.user.username}}</a>
			</h6>
			{% endif %}
			<h6 class="card-subtitle mb-3">Category: {{drink.category.name}}</h6>
			<div class="row container-fluid justify-content-center text-center">
				<h6 class="card-subtitle mb-1 col-6">Likes: {{len(drink.favorites)}}</h6>
				<h6 class="card-subtitle mb-1 col-6">Comments: {{len(drink.comments)}}</h6>
			</div>
			<a href="/{{drink.id}}"><img src="{{drink.main_img}}" class="card-img-bottom" alt="#" /></a>
		</div>
	</div>
</div>

{% else %}

<div class="container-fluid text-center">
	<h2 class="mt-4">Welcome to Underground Mixology!</h2>
	<p>
		If you are new please consider <a href="/signup">signing up</a> or you can choose to browse drinks with access to limited features. If
		you have an existing account <a href="/login">welcome back</a>!
	</p>
</div>

{% endif %} {% endblock %}
